
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

html{
    height: 100vh;
}

hr { 
    display: block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    color: dimgrey;
}

.modal {
    width: 500px;
    height: 300px;
}

.rbc-current-time-indicator {
    display: none;
}

.jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("./img/jumbo.png");
    color: white;
}

.signInComponent {
    height: 94.1vh;
    background: url('./img/jumbo.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.dashboard {
    padding-top: 1rem;
    height: 96vh;

    background: url('./img/jumbo.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.signInCard {
    max-width: 50rem;
    padding-top: 3rem;
}

.signInlabel{
    width: 160px;
}

.site-footer {
    background-color: rgba(11, 3, 3, 0.44);
}

.datos {
    background-color: rgba(11, 3, 3, 0.44);
}

.bigCalendar-container {
    height: 30rem;
    width: auto;
    border: 2px solid rgba(2,117,216,0.38);
    border-radius: 7px;
    padding: 3px;
}

.cita-label {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    
}

/*!Bootstrap Sidebar */

body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}